@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #f8fafc;
}

/* Hace que el mapa ocupe toda la pantalla */
.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 0;
}